<template>
  <q-page
    v-touch-swipe.right="back"
    v-touch-swipe.left="forward"
  >
    <q-markdown v-if="chapter" v-bind:src="chapter"></q-markdown>
    <div class="flex justify-between">
      <q-btn
        @click="back"
        color="secondary"
        text-color="white"
        icon="keyboard_arrow_left"
        :label="$t('back')"
      />

      <q-btn
        @click="forward"
        color="secondary"
        text-color="white"
        icon-right="keyboard_arrow_right"
        :label="$t('forward')"
      />
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      chapter: ''
    }
  },
  mounted () {
    if (this.$route.params?.filepath) {
      this.chapter = this.$markdownService.getChapterContentByRoutePath(
        this.$route.params.filepath
      )
    } else {
      // redirect to first content page
      const indexPath = this.$markdownService.getIndexPath()
      this.$router.push({ name: 'filePath', params: { filepath: indexPath.slice(2) } })
    }
  },

  watch: {
    '$route.params.filepath' (to, from) {
      const filepath = this.$route.params?.filepath
      if (filepath) {
        this.chapter = this.$markdownService.getChapterContentByRoutePath(
          filepath
        )
      }
    }
  },

  methods: {
    forward () {
      const nextPath = this.$markdownService.forward(this.$route.params.filepath)
      this.$router.push({ name: 'filePath', params: { filepath: nextPath.slice(2) } })
    },
    back () {
      const previousPath = this.$markdownService.back(this.$route.params.filepath)
      this.$router.push({ name: 'filePath', params: { filepath: previousPath.slice(2) } })
    }
  }
}
</script>
