<template>
  <q-page>
    <q-banner
      v-show="searchResults.length === 0"
      class="bg-secondary text-white"
    >
      {{$t('no_search_result')}}
    </q-banner>
    <q-card
      flat
      bordered
      class="search-card"
      v-for="result in searchResults"
      :key="result.item.path"
      @click="$router.push({ name: 'filePath', params: { filepath: result.item.path.slice(2) } })"
    >
      <q-card-section>
        <q-markdown v-bind:src="result.item.text | limitChars"></q-markdown>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'Search',
  data () {
    return {
      searchResults: []
    }
  },

  watch: {
    '$route.params.searchText' (to, from) {
      const searchText = this.$route.params?.searchText
      if (searchText) {
        this.searchResults = this.$markdownService.findByText(
          searchText
        )
      }
    }
  },
  filters: {
    limitChars: function (value) {
      if (!value) return ''
      value = value.toString()
      const maxCharLength = 150
      if (value.length > maxCharLength) {
        return value.substring(0, maxCharLength) + ' ...'
      } else {
        return value
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .search-card {
    margin-bottom: .5rem;
  }
</style>
