<template>
  <q-item
    clickable
    :to="{ name: 'filePath', params: { filepath: chapterLink.slice(2) } }"
    exact
  >
    <q-item-section>
      <q-item-label>
        <q-markdown v-bind:src="chapterTitle"></q-markdown>
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'EssentialLink',
  props: {
    chapterTitle: {
      type: String,
      required: true
    },
    chapterLink: {
      type: String,
      required: true
    }
  }
}
</script>
