/* ---- FONTS ---- */

@font-face {
  font-family: AbadiLight;
  src: url('~assets/font/Abadi MT Condensed Light Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AbadiRegular;
  src: url('~assets/font/Abadi MT Condensed Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AbadiBold;
  src: url('~assets/font/Abadi MT Condensed Extra Bold Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/* ---- GENERAL ELEMENTS ---- */

body {
  font-family: AbadiRegular;
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: AbadiBold;
}

.q-page {
  margin: 1rem;
}

.q-router-link--active {
  background-color: $primary;
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.q-card {
  p {
    font-size: 1.3rem;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
  }
}

#nav-drawer {
  .q-markdown h1 {
    font-size: 1rem !important;
    margin: 0px;
    padding: 0px;
  }
}
