<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-space />
        <q-input dark dense standout v-model="searchText" input-class="text-right" class="q-ml-md">
          <template v-slot:append>
            <q-icon v-if="searchText === ''" name="search" />
            <q-icon v-else name="clear" class="cursor-pointer" @click="searchText = ''" />
          </template>
        </q-input>

      </q-toolbar>
    </q-header>

    <q-drawer
      id="nav-drawer"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-scroll-area class="fit">
      <q-list
        separator
      >
        <q-img style="max-width: 100%" src="~assets/your-rights-logo.svg"></q-img>
        <EssentialLink
          v-for="chapter in chapters"
          :key="chapter.link"
          v-bind:chapterTitle="chapter.title"
          v-bind:chapterLink="chapter.link"
        />
      </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  data () {
    return {
      leftDrawerOpen: false,
      chapters: [],
      searchText: ''
    }
  },

  mounted () {
    this.chapters = this.$markdownService.getNavList()
  },

  watch: {
    searchText: function (val) {
      if (val !== '') {
        this.$router.push({ name: 'search', params: { searchText: val } })
      } else {
        this.$router.push({ path: '/' })
      }
    }
  }
}
</script>
